
select{
    box-shadow: 0 3px 5px #ccc;
    font-size: 1.5rem;
    padding: 1em 1.5em 1em 1.5em;
    background-color: #666;
    color: white;
    margin: 1em 0em 1em 0em;
    border-radius: 5px;
    
    
}
