.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    min-height: 450px;
    color:#444;
}