.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(129, 193, 235,0.4);
    border-radius: 30px;
    margin: 1em;
    box-shadow:  0px 5px 6px 0px rgb(151, 146, 146);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    min-height: 544px;
}